<div id="academy-courses" class="page-layout simple">
  <div
    class="header accent p-16 ps-sm-8"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="hero-text">
      <mat-icon class="hero-icon">School</mat-icon>
      <h1 [@animate]="{ value: '*', params: { delay: '100ms', y: '25px' } }">
        WELCOME TO PAM ACADEMY
      </h1>
      <h3 [@animate]="{ value: '*', params: { delay: '100ms', y: '25px' } }">
        Our courses will step you through the process of building a small
        application, or adding a new feature to an existing application.
      </h3>
    </div>
  </div>
  <div class="content p-16 ps-sm-8">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div
        class="filters"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center"
      >
        <mat-form-field
          appearance="outline"
          floatLabel="always"
          class="course-search"
        >
          <mat-label>Search for a course</mat-label>
          <input
            matInput
            placeholder="Enter a keyword..."
            [(ngModel)]="searchTerm"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="category-selector">
          <mat-label>Level</mat-label>
          <mat-select
            [(ngModel)]="currentCategory"
            (selectionChange)="filterCoursesByCategory()"
          >
            <mat-option [value]="'all'">ALL</mat-option>
            <mat-option
              *ngFor="let category of categories"
              [value]="category.label"
            >
              {{ category.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div
        class="courses"
        fxLayout="row wrap"
        fxLayoutAlign="center"
        [@animateStagger]="{ value: '50' }"
      >
        <div
          class="course"
          *ngFor="let course of filteredCourses"
          fxFlex="100"
          fxFlex.gt-xs="50"
          fxFlex.gt-sm="33"
          [ngClass]="course.category"
          [@animate]="{ value: '*', params: { y: '100%' } }"
        >
          <div class="course-content" fxLayout="column" fxFlex="1 1 auto">
            <div
              class="header"
              fxLayout="row"
              fxLayoutAlign="start center"
              [ngClass]="'web-bg'"
            >
              <div class="category">
                <!-- <mat-icon class="length-icon s-20"> -->
                <button class="category_level" mat-mini-fab disabled>
                  Lv. {{ course.level | translevel }}
                </button>
                <!-- </mat-icon> -->
              </div>
              <div class="content" fxLayout="row" fxLayoutAlign="start center">
                {{ course.title }}<br />
              </div>
            </div>
            <img src="assets/images/cards/card1.jpg" />
            <div
              class="content"
              fxLayout="column"
              fxLayoutAlign="center center"
              fxFlex="1 1 auto"
            >
              <!-- <div class="h1">{{ course.title }}</div> -->
              <div class="updated">
                <mat-icon inline="true">pin_drop</mat-icon>
                <span class="lmargin5">{{ course.location }}</span>
              </div>
              <div class="updated">
                <mat-icon inline="true">access_time</mat-icon
                ><span class="lmargin5">{{
                  course.time.start | date: 'short'
                }}</span>
              </div>
              <div *ngIf="course.attendee">
                <div class="updated">
                  <span *ngFor="let attendeeInfo of course.attendInfo">
                    <img
                      class="thumbnail_image small"
                      [src]="attendeeInfo[0] || ''"
                      [matTooltip]="attendeeInfo[1] || ''"
                    />
                  </span>
                </div>
              </div>
            </div>
            <div class="footer" fxLayout="row" fxLayoutAlign="center center">
              <button
                mat-button
                color="accent"
                [routerLink]="'/apps/academy/courses/' + course.key"
              >
                Join
              </button>
            </div>
          </div>
        </div>
        <div class="no-courses" *ngIf="filteredCourses.length === 0">
          No courses found!!
        </div>
      </div>
    </div>
  </div>
</div>
